<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h5 class="footer-title text-white mt-3 mb-2">À propos</h5>
            <ul class="list-unstyled footer-list">
                <li><a href="@Url.Action("About","Home")">À propos de nous</a></li>
                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
            </ul>
        </div>
        <div class="col-sm-7">
            <h5 class="footer-title text-white mt-3 mb-2">Social</h5>
            <ul class="list-unstyled footer-list">
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h5 class="footer-title text-white mt-3 mb-2">Assistance</h5>
            <ul class="list-unstyled footer-list">
                <li><a href="@Url.Action("Contact","Home")">Assistance & Soutien</a></li>
            </ul>
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="py-3">
                <div class="text-center">
                    <p class="text-white-50">2020 © LA MUSIQUE. Design by <a href="" target="_blank" class="text-white-50">Semionov</a> </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- container-fluid end -->
