<div class="blog-right-sidebar">


    <div class="widget widget-categories card mb-4">
        <div class="p-4">
            <h4 class="widget-title mt-0">Suggestions</h4>
            <hr>
            <div>
                <div class="popular-post media">
                    <img src="~/images/Simon Chylinski.jpg" class="img-fluid rounded mr-3" alt="" height="60" width="70">
                    <div class="media-body">
                        <h5 class="mt-0 font-14"><a href="#" class="text-dark">Simon Chylinski</a></h5>
                        <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Suivre</button>
                    </div>
                </div>
                <hr>
                <div class="popular-post media">
                    <img src="~/images/Joel Schoch.jpg" class="img-fluid rounded mr-3" alt="" height="60" width="70">
                    <div class="media-body">
                        <h5 class="mt-0 font-14"><a href="#" class="text-dark">Joel Schoch</a></h5>
                        <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Suivre</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget widget-popular-post card mb-4">
        <div class="p-4">
            <h4 class="widget-title mt-0">J'aime</h4>
            <hr>
            <div class="popular-post media">
                <img src="~/images/play-button.png" class="img-fluid rounded mr-3" alt="" height="15" width="15">
                <div class="media-body">
                    <h5 class="mt-0 font-14"><a href="#" class="text-dark">Into The Unknown</a></h5>
                    <span class="text-muted">Simon Chylinski</span>
                </div>
            </div>
            <div class="popular-post media">
                <img src="~/images/play-button.png" class="img-fluid rounded mr-3" alt="" height="15" width="15">
                <div class="media-body">
                    <h5 class="mt-0 font-14"><a href="#" class="text-dark">Colored Engine</a></h5>
                    <span class="text-muted">Joel Schoch</span>
                </div>
            </div>
        </div>

    <div class="widget card mb-4">
        <div class="p-4">
            <h4 class="widget-title mt-0">Historique d'écoute</h4>
            <hr>
            <ul class="list-unstyled mb-0">
      
            </ul>
        </div>
    </div>

    <div class="widget widget-tag-cloud card mb-4">
        <div class="p-4">
            <h4 class="widget-title mt-0"></h4>
            <h5> Tags</h5>
            <hr>
            <div class="tagcloud">
                <a href="#">Simon Chylinski</a>
                <a href="#">Joel Schoch</a>
                <a href="#">Soundtrack</a>
            </div>
        </div>
    </div>
</div>

