<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h3 class="page-header-title text-white">@ViewBag.Title</h3>
            </div>
        </div>
    </div> <!--end row-->
</div> <!--end container-->
