
@{
    Layout = "~/Views/Shared/_LayoutForRnL.cshtml";
    ViewBag.Title = "Recoverpw";
}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">

                            <span><img src="~/images/logo-dark-2.png" alt="" height="22"></span>

                            <p class="text-muted mb-4 mt-3">Entrez votre adresse électronique et nous vous enverrons un e-mail pour réinitialiser votre mot de passe.</p>
                        </div>

                        <form action="#">

                            <div class="form-group mb-3">
                                <label for="emailaddress">Adresse électronique</label>
                                <input class="form-control" type="email" id="emailaddress" required="" placeholder="Entrez votre adresse électronique">
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit"> Réinitialiser mon mot de passe </button>
                            </div>

                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <a href="@Url.Action("Login","Home")" class="text-muted font-weight-medium ml-1">Se connecter</a>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
