
@{
    Layout = "~/Views/Shared/_LayoutForF.cshtml";
    ViewBag.Title = "About";
}

<!-- about start -->
<section class="section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="title text-center mb-4">
                <h3 class="mb-4">À propos de LA MUSIQUE</h3>
                <p class="text-muted ">La Musique est une plate-forme de distribution audio en ligne sur laquelle les utilisateurs peuvent écouter la musique, la télécharger gratuitement ainsi que distribuer leurs projets musicaux.</p>
            </div>  
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- about end -->
<!-- services start -->
<section class="section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="title text-center mb-4">
                    <h1 class="home-title mb-2">LA MUSIQUE</h1>
                    <p class="text-muted home-desc mb-4">Vous n'avez pas encore de compte gratuit ?</p>
                    <div>
                        <a href="@Url.Action("Register","Home")" class="btn btn-dark mr-1 mb-4">Créez un compte</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- services end -->
