
@{
    Layout = "~/Views/Shared/_LayoutForF.cshtml";
    ViewBag.Title = "Following";
}

@model Musique.Web.Models.UserData

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <h4 class="text-muted mb-2"> Écoutez ce que les personnes que vous suivez ont publié : </h4>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <label for="inputPassword2" class="sr-only">Search</label>
                        <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end card-box -->
        </div><!-- end col-->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                @using (Ajax.BeginForm("Following", "Home", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "success",
                    OnFailure = "fail",
                    UpdateTargetId = "resultTarget"
                }))
                {
                    foreach (var artist in Model.FollowArtist)
                    {
                        <div class="text-center">
                            <img src="@artist.ArtistImage" alt="logo" class="avatar-xl rounded-circle mb-3 mt-3" height="200" width="200">
                            <h4 class="mb-3">@artist.ArtistName</h4>
                        </div>
                        @Html.Hidden("btnUnfollow", artist)
                        <div class="text-center">
                            <a value="@artist" class="btn btn-warning">Ne plus suivre</a>
                        </div>
                    }
                }
                <div id="company-1" class="text-center"></div>
            </div>
        </div><!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- end container -->
