
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Stream";
}

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4"> <!--Глобальный поиск-->
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="inputPassword2" class="sr-only">Rechercher</label>
                                        <input type="search" class="form-control mr-2" id="inputPassword2" placeholder="...">
                                        <button type="button" class="btn btn-outline-info">Rechercher</button>
                                    </div>
                                </form>
                            </div> <!--end col-->
                            <div class="col-lg-8"> <!--(rus) Слушайте последние публикации людей, на которых Вы подписаны-->
                                <form class="form-inline">
                                    <div class="form-group">
                                        <h5 class="text-muted mt-3">Écoutez les dernières publications des personnes que vous suivez :</h5>
                                    </div>
                                </form>
                            </div> <!--end col-->
                        </div> <!-- end col -->
                    </div> <!-- end row-->
                </div><!-- end card-box-->
            </div><!-- end col-->
        </div> <!-- end row -->
    </div> <!-- end col-->
</div> <!-- end row -->
@*<div class="text-lg-right mt-3 mt-lg-0">
        <a href="#custom-modal" class="btn btn-danger waves-effect waves-light" data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"><i class="mdi mdi-plus-circle mr-1"></i>Uploader</a>
    </div>*@
